{% extends "layout.html" %}

{% block head %}
    <script scr="/scripts/tables.js"></script>
{% endblock %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" class="form-control" id="input-1" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <!--//     function checkLabel(labelID,input){-->
    <!--//         let label = document.getElementById(labelID);-->
    <!--//         input = input;-->

    <!--//         if (input.value != ''){-->
    <!--//             if(!label.classList.contains('label-active'))-->
    <!--//             label.classList.add('label-active');-->
    <!--//         }else {-->
    <!--//             label.classList.remove('label-active');-->
    <!--//         }-->
    <!--//     }-->
{% endblock %}