{% extends "layout.html" %}

{% block title %}
    Output
{% endblock %}

{% block main %}
    <form action="/output" method="post" Id="myForm" >
        <div class="form-group">
            <select class="form-control" name="code">
                <option disabled selected value="">Code</option>
                {% for product in products %}
                    <option value="{{product.code}}">{{ product.code }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" min="0" name="quant_prod" placeholder="Quantity" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}